/* write your override styles here */

#wall .tag-1 {
  display: none;
}


#wall .tag-2 {
  padding: 30px;
}


#wall .tag-3 {
  width: 25%;
}



.parent #tag-4 {
  display: none;
}


.class {
  position: absolute;
}